<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DIRPath" value="D:\\天溯源码\\1.2NewCode\\WCF\\NTS.WEB.BLL"/>
    <add key="fileExtension" value="cs|config"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
